body {
    background-image: url(callofduty.jpg);
    color: black;
    font-family: 'Fredoka One', cursive;
    
    margin: 0%;
    padding: 0px 15px 0px 15px;

}

.work-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}